/*Body Styles*/
html, body{
    height: 100%;
    margin:0;
    padding:0;
}
#bodyWrap{
    min-height:100%;
	position:relative;
}
.section {
    min-height:500px;
    padding-bottom:145px;
    width:100%;
    /*border-bottom:8px solid; */
}
@media (max-width: 800px) {
   .section {
      padding-bottom:193px;
   }
}
#msg {
    width:100%;
    min-height:80px;
    text-align:center;
    padding-top:30px;
    font-weight:600;
    /*border-top:8px solid;*/

}

.footer {
    padding: 20px 20px 10px 20px;
    width: 100%;
    position:absolute;
    bottom:0;
    left:0;
}

#fullpage {
    padding:0;
    margin-bottom: -20px;
}

h1 {
    font-weight: lighter;
}

h4 {
    font-weight: bold;
}


/*Header Styles*/
#pretitle{
    font-size: 2.5em;
    font-size: 2vw;
    font-family: "arial";
}

#title {
    text-align: left;
    font-size: 4vw;
    margin: 0px;
    padding-left: 35pt;
    font-family: 'Syncopate', sans-serif;
}

#login {
    font-weight: normal;
}

form {
    float: right;
    margin-top: 10pt;
}

.input-150 {
    width: 150pt;
}

.navbar-default {
    border: none;
}

#user {
    text-align:center;
    font-size:1.1em;
}

    /*Apply height buffer on med or larger screens*/
.buffer {
    height:0px;
}

    /*Remove buffer on smaller screens to colapse into single column*/
@media (max-width: 991px) {
   .buffer {
      height:auto;
   }
}

/*#splash {
    display:block;
    width:100%;
    padding:30px 0px;
    margin-bottom:20px;
    border-top:6px solid ;
    border-bottom:6px solid ;
}
#splash img {
    margin: auto;
    border: 2px solid ;

}*/
/*#homeWelcome{
    width:70%;
    font-size:2em;
    position:relative;
    text-align:center;
    margin:-130px auto 110px auto;
    padding:5px;   
}*/

/*@media (max-width: 1525px) {
   #homeWelcome {
      font-size:1.5em;
   }
}
@media (max-width: 1155px) {
   #homeWelcome {
      font-size:1.2em;
   }
}
@media (max-width: 945px) {
   #homeWelcome {
      font-size:1em;
   }
}
@media (max-width: 692px) {
   #homeWelcome {
      width:100%;
   }
}*/

/*Carousel Styles*/
/*#myCarousel {
    padding: 20px 0px 40px 0px;
    margin: 60px 0;
    min-height:802px;
    border-top:6px solid; 
    border-bottom:6px solid; 
}
    #myCarousel h1 {
        text-align:center;
    }*/
#portfolios{
    padding:30px 0px;
}
.imgWrapper{
    height:150px;
    max-width:100%;
    text-align:center;
}

.card {   
    padding:0 5px 0 5px;
}

.card img {
        margin:auto;
        max-height:150px;
    }

.card-inner {
    min-height:360px;
}

@media (max-width: 1435px) {
   .card-inner {
       min-height:380px;
       
   }
}

@media (max-width: 1122px) {
   .card-inner {
       min-height:400px;
       
   }
}

@media (max-width: 1036px) {
   .card-inner {
       min-height:420px;
       
   }
}

@media (max-width: 991px) {
   .card-inner {
       min-height:360px;

   }
}

@media (max-width: 496px) {
   .card-inner {
       min-height:380px;

   }
}

@media (max-width: 392px) {
   .card-inner {
       min-height:400px;

   }
}
   
.shrink-control {
    width:100px;
}

/*#carouselButtons {
    margin:auto;
    position: absolute;
    top: 20px;
    right: 100px;
}*/

/*Well Styles*/
#indvmain {
    min-height: 455px;
    padding:5%;
}

#indWell {
    padding:20px;
}

#aboutWell {
    padding:50px;
    font-size:2em;
    margin-bottom:70px;
}
    #aboutWell h2 {
        font-weight:700;
        margin-bottom:20px;
    }

#register, #havelogin {
    min-height: 595px;
    
    margin-bottom: 80px;
   
}

#answerwell {
    min-height: 382px;
    padding:20px;
    font-size:1.3em;
}

#contactinfo {
    font-weight: bold;
    padding-top: 40px;
}

#contactWell {
    margin-bottom:60px;
}

#searchResult {
    min-height: 500px;
    font-size: 1.2em;
}

#searchResult h4{
    font-size:1.6em;
}

#searchDiv{
    margin: auto;
    width: fit-content;
    
}

.answers {
    display:none;
    position:relative;

}
.well {
    border:1px solid;    
}

/*Panels and Lists*/
.l
list-group {
    margin-top: 30px;
}

.panel-button {
    margin:10px 0;
}
#indvmenu {
    margin-top:20px;
}

.ind-button {
    text-align:center;
}

#questionPanel {
    margin:20px 0;
}

#imgHook img {
    margin: auto;
}


/*Forms*/
#contactform {
    width: 100%;
    float: left;
}

#registerform, #loginform {
    width: 60%;
    margin: auto;
    float: unset;
}

.radio-inline {
   margin:0 30px;
}

/*Footer Styles*/
#share-buttons{
    width: fit-content;
    margin:auto;
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;

}

#copyright {
text-align: center;
padding-top:8px;
margin:0;
}

#foot {
    margin:20px 0px 0px 0px;
}
#siteMap{
    margin:20px auto;
    padding:0px;
    width: 100%;
    list-style-type: none;
}
#siteMap li{
    float:left;
    width:16.6%;
    text-align: center;
}

/*Work page styles*/
.workLinks {
    padding:1px 0 1px 0;
    margin:5px 0 0 0;
    display: block;
    /*vertical-align: top;*/   
}

    .workLinks button {
        height: 100px;
        width: 100px;
        border:none;
    }

@media (max-width: 1200px) {
    .workLinks button {
        height: 75px;
        width: 75px;
    }
}

@media (max-width: 480px) {
    .workLinks button {
        height: 50px;
        width: 50px;
    }
}

#workMain {
    min-height:500px;
    padding-right: 100px;
}
#workWrap {
    position: absolute;
    right:16px;
    top:1px; 
    padding:0 0 0 40px;
    height:100%;
}
.workLinks{
    overflow-x: hidden;
    max-height: 95%;
    overflow-y:scroll;
    white-space:nowrap;
}

#workCollapse{
    position: absolute;
    top:10px;
    left: 0px;
    border:none;
}

.work-greeting {
    width: 100%;
    padding:30px 10px;
    text-align:center;
    font-size:1.2em;
}
#work-buffer{
    margin-top:20px;
}
/*General Styles*/
.red-bord {
    border: 4px solid red;
}
.green-bord {
    border: 4px solid green;
}

a.dropdown-toggle{
    cursor: pointer;
}

.noPad{
    padding: 0;
}

.noMarg {
    margin: 0;
}

.no-float {
    float:none;
}

/*temp feedback styles*/
#btnFBModal {
    position:fixed;
    top:10px;
    left: 10px;
}
#feedbackModal {
    /*color:black;*/
    text-align:center;
}